@page "/currentorders"


@if (!InEditUserOrdersMode)
{
    <Sklepik.Pages.Forms.UsersOrdersSummary SummaryModel="_sellerCurrentOrderViewModel.SummaryOrdersList" OnClickEdit="ClickEdit" />
}
else
{
    @if (_sellerCurrentOrderViewModel.SellerOrdersList.Count == 0)
    {
        <h5>Nie ma aktualnie żadnych zamówień</h5>
    }
    else
    {
        <h2>Zamówienia użytkownika: </h2>
        <p>
            <button class="btn btn-primary">Powrót do listy wszystkich zamówień</button>
        </p>
        <table>
            <tbody>
                @foreach (var header in _sellerCurrentOrderViewModel.SellerOrdersList)
                {
                    <tr>
                        <td>
                            <Sklepik.Pages.Forms.SellerOrderCard 
                                                                 SellerOrder="header" 
                                                                 OnClickDelOrderPosition="ClickDelOrderPosition"
                                                                 OnRejectOrder="RejectOrder" 
                                                                 OnAcceptOrder="AcceptOrder"
                                                                 OnPayedOrder="PayedOrder"
                                                                 OnDeliveredOrder="DeliveredOrder"
                                                                 />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}