@page "/currentorders"


@if (!InEditUserOrdersMode)
{
    <Sklepik.Pages.Forms.UsersOrdersSummary SummaryModel="_sellerCurrentOrderViewModel.SummaryOrdersList" OnClickEdit="ClickEdit" />
}
else
{
    @if (_sellerCurrentOrderViewModel.SellerOrdersList.Count == 0)
    {
        <h5>Nie ma aktualnie żadnych zamówień</h5>
    }
    else
    {
        @foreach (var header in _sellerCurrentOrderViewModel.SellerOrdersList)
        {
            <Sklepik.Pages.Forms.SellerOrderCard SellerOrder="header" OnClickDel="ClickDel" OnClickDelOrderPosition ="ClickDelOrderPosition"/>
        }
    }
}