@page "/verifyorderspage"


@if (!InEditUserOrdersMode)
{
    <Sklepik.Pages.Forms.UsersOrdersSummary SummaryModel="_verifyOrderViewModel.SummaryOrdersList" OnClickEdit="ClickEdit" />
}
else
{
    @if (_verifyOrderViewModel.SellerOrdersList.Count == 0)
    {
        <h5>Nie ma aktualnie żadnych zamówień</h5>
    }
    else
    {
        <p>
            <button class="btn btn-outline-primary" @onclick="ReturnBack"><span class="oi oi-action-undo"></span>&nbsp;Powrót</button>
        </p>
        <h2>Zamówienia użytkownika: </h2>

        <table>
            <tbody>
                @foreach (var header in _verifyOrderViewModel.SellerOrdersList)
                {
                    <tr>
                        <td>
                            <Sklepik.Pages.Forms.SellerOrderCard SellerOrder="header"
                                                                 OnRejectOrder="RejectOrder"
                                                                 OnAcceptOrder="AcceptOrder" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}